canvas {
    display: block;
    border: 1px solid red;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

button#undo,
button#clear {
    display: inline-block;
}

#colors {
    /* border: 1px solid black; */
    margin: 0;
    padding: 2px;
}

#colors * {
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: inline-block;
    border: none;
    margin: 0 1px;
}

#colors *:hover {
    opacity: 0.6;
}

.thickness {
    background-color: black;
    border: 1px solid black;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: inline-block;
    color: red;
    text-align: center;
}
.thickness:hover {
    opacity: 0.6;
}
.thickness.small {
    width: 12px;
    height: 12px;
}
.thickness.medium {
    width: 16px;
    height: 16px;
}
.thickness.big {
    width: 20px;
    height: 20px;
}
